/* Загальні стилі тут
Для кожної сторінки сайту окремий css файл */

/* Спільні елементи: кольори, шрифти, 
розмір тексту, розмір заголовків */

:root {
  --main-color: #181817;
  --secondary-color: #6f6f6f;
  --accent-color: #f6d88c;
  --light-color: #f8f3ec;
  --main-font: 'Darker Grotesque', sans-serif;
  --title-size: 65px;
  --text-size: 22px;
}

* {
  box-sizing: border-box;
}

.wrapper {
  background-color: var(--light-color);
}

.list {
  list-style: none;
  padding: 0;
}

/* Лента слайдов */
.slick-track {
  display: flex;
  align-items: flex-start;
}

.header {
  width: 1440px;
  margin: 0 auto;
  padding: 16px 55px 45px;
  /* Вирівнювання */
  display: flex;
  align-items: center;
  border-bottom: 2px solid #6e6e6e;
}

.navigation {
  font-family: var(--main-font);
  margin-right: 262px;
}

.navigation-list {
  display: flex;
}

.navigation-item {
  margin-right: 40px;
}

.navigation-item:last-child {
  margin-right: 0;
}

.navigation-link {
  font-weight: 500;
  line-height: 30px;
  color: var(--secondary-color);
  text-decoration: none;
  font-size: var(--text-size);
}

.navigation-link:hover {
  color: var(--main-color);
}

.logo {
  margin-right: 420px;
  font-weight: 700;
  font-size: 40px;
  line-height: 54px;
  color: var(--main-color);
  font-family: var(--main-font);
  text-decoration: none;
}

.logo-dot {
  color: var(--accent-color);
}

.socials {
}

.social-link {
  text-decoration: none;
  margin-right: 20px;
}
/* ------------------------------------ */

/* Hero section */

.hero {
  background-color: var(--light-color);
  display: flex;
  align-items: center;
}

.content {
  width: 1170px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.hero-container {
  font-size: 0;
}

.hero-left-side {
  margin-right: 100px;
}

.hero-title {
  margin-top: 0;
  font-family: var(--main-font);
  font-weight: 600;
  font-size: 82px;
  line-height: 71px;
  letter-spacing: -0.02em;
  color: var(--main-color);
  width: 500px;
  margin-bottom: 20px;
}

.hero-text {
  font-weight: 500;
  font-size: var(--text-size);
  line-height: 30px;
  color: var(--secondary-color);
  margin-bottom: 40px;
  margin-top: 0;
  width: 370px;
}

.btn {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: var(--text-size);
  text-transform: uppercase;
  color: var(--main-color);
  background: var(--accent-color);
  border: none;
  outline: none;
  padding: 22px 36px;
  border-radius: 16px;
}

.btn:hover,
.btn:focus {
  background-color: #f8d735;
}

.hero-right-side {
  padding: 52px 0;
}

.hero-img {
  width: 268px;
  height: 653px;
}
.hero-img:first-child {
  margin-right: 14px;
}

/* ---------------------------------- */

/* Clients section */

.clients {
}

.clients-left-side {
  margin-right: 100px;
  display: flex;
  align-items: center;
}

.clients-left-side::before {
  content: '';
  display: block;
  width: 5px;
  height: 146px;
  background-color: var(--accent-color);
  margin-right: 30px;
}

.clients-title {
  font-family: var(--main-font);
  font-weight: 600;
  font-size: 40px;
  line-height: 35px;
  color: var(--main-color);
  width: 295px;
  margin-bottom: 10px;
}

.clients-text {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: var(--text-size);
  line-height: 26px;
  color: var(--secondary-color);
  width: 295px;
  margin-top: 0;
}

/* Для дз портфоліо 3*3 картинки */
.clients-right-side {
  padding-top: 100px;
  padding-bottom: 160px;
  display: flex;
  flex-wrap: wrap;
  width: 695px;
  font-size: 0;
}

.clients-img {
  width: 224px;
  height: 91px;
  margin-right: 10px;
  margin-bottom: 10px;
}

/* Для дз портфоліо 3*3 картинки */
.clients-img:nth-child(3n + 3) {
  margin-right: 0;
}
.description {
}
.description-container {
  padding-top: 185px;
  padding-left: 215px;
}
.decription-img {
}
.title .description-list {
}
.description-item {
}
.description-btn {
}
.text {
}

.video {
}
.video-title {
}
.provide {
}
.provide-list {
}
.provide-item {
}
.provide-img {
}
.provide-title {
}
.provide-link {
}
.slider-container {
}
.wrapper {
}
.slider {
}
.slider-item {
}
.offer {
}
.blog {
}
.blog-container {
}
.blog-title {
}
.blog-descr {
}
.blog-link {
}
.blog-articles {
}
.blog-article {
}
.article-title {
}
.article-text {
}
.article-link {
}
.footer {
}
.footer-socials {
}
.socials-text {
}
.socials-list {
}
.social-item {
}
.social-link {
}
.footer-newsletters {
}
.newsletter-title {
}
.newsletter-text {
}
.footer-contacts {
}
.contacts-list {
}
.contacts-item {
}
.contact-title {
}
.contact-link {
}
.footer-copyright {
}
.license {
}
.footer-link {
}
